.u-section-1 {
  background-image: url("images/57e1d4434d4fad0bffd8992cc62e377a153ddaed4e507748742f7cd79445c7_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 993px;
}

.u-section-1 .u-image-1 {
  object-position: 50% 61.53%;
  background-position: 50% 61.53%;
  width: 770px;
  height: 523px;
  margin: 368px auto 0;
}

.u-section-1 .u-group-1 {
  width: 370px;
  min-height: 523px;
  height: auto;
  margin: -822px 339px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-1 .u-text-1 {
  font-style: normal;
  margin: 154px 66px 0 0;
}

.u-section-1 .u-image-2 {
  width: 83px;
  height: 19px;
  margin: 23px auto 0 93px;
}

.u-section-1 .u-text-2 {
  font-family: Oswald, sans-serif;
  margin: -497px 249px 60px 275px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 819px;
  }

  .u-section-1 .u-image-1 {
    width: 635px;
    height: 538px;
  }

  .u-section-1 .u-group-1 {
    width: 305px;
    min-height: 538px;
    margin-top: -538px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 48px;
    margin-right: 35px;
  }

  .u-section-1 .u-image-2 {
    width: 68px;
    margin-top: 34px;
    margin-bottom: 55px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    position: relative;
    margin-top: 34px;
    margin-right: -304px;
    margin-left: 175px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 593px;
  }

  .u-section-1 .u-image-1 {
    width: 486px;
    height: 479px;
    margin-top: 37px;
  }

  .u-section-1 .u-group-1 {
    width: 234px;
    min-height: 480px;
    margin-top: -479px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-1 .u-text-1 {
    width: NaNpx;
    position: relative;
    margin-right: 34px;
  }

  .u-section-1 .u-image-2 {
    width: 52px;
    margin-bottom: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: -275px;
    margin-left: 65px;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-1 .u-image-1 {
    height: 314px;
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    width: 457px;
    min-height: 390px;
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
  }

  .u-section-1 .u-text-1 {
    font-style: italic;
    margin-top: 34px;
    margin-right: 83px;
  }

  .u-section-1 .u-image-2 {
    width: 85px;
    height: 18px;
    margin-bottom: 40px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 40px;
    margin-right: -48px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 335px;
  }

  .u-section-1 .u-image-1 {
    height: 220px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    width: 306px;
    min-height: 477px;
    margin-top: -23px;
    margin-left: 6px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 20px;
    width: 280px;
  }

  .u-section-1 .u-image-2 {
    height: 17px;
    margin-top: 46px;
  }

  .u-section-1 .u-text-2 {
    width: 332px;
    margin-right: -32px;
  }
}.u-section-2 {
  background-image: url("images/57e1d4434d4fad0bffd8992cc62e377a153ddaed4e507748742f7cd79445c7_1280.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 811px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 186px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-2 .u-image-1 {
  width: 466px;
  left: -306px;
  right: auto;
}

.u-section-2 .u-image-2 {
  min-height: 400px;
  background-image: url("images/2020-01-2106.56.223.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-image-3 {
  height: 273px;
  width: 237px;
  margin: 0 auto 0 -172px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -653px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-2 .u-image-2 {
    min-height: 330px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 717px;
    margin-left: 431px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -684px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 297px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 361px;
  }

  .u-section-2 .u-image-2 {
    min-height: 174px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 748px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1749px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -2195px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 668px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 812px;
  }

  .u-section-2 .u-image-2 {
    min-height: 392px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 2259px;
    margin-left: 303px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1103px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -1502px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 421px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 511px;
  }

  .u-section-2 .u-image-2 {
    min-height: 247px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 1566px;
    margin-left: 103px;
  }
}.u-section-3 {
  background-image: url("images/57e1d4434d4fad0bffd8992cc62e377a153ddaed4e507748742f7cd79445c7_1280.jpg");
}

.u-section-3 .u-sheet-1 {
  min-height: 1135px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  min-height: 657px;
  background-image: url("images/46d6a2c6fb70e938a42f636eaa14e7c2.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  margin-bottom: 0;
}

.u-section-3 .u-image-2 {
  width: 670px;
  height: 509px;
  object-position: 50% 0%;
  background-position: 50% 0%;
  margin: 64px auto 0;
}

.u-section-3 .u-image-3 {
  min-height: 657px;
  background-image: url("images/57e1d4434d4fad0bffd8992cc62e377a153ddaed4e507748742f7cd79445c7_1280.jpg");
}

.u-section-3 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 0;
}

.u-section-3 .u-text-1 {
  margin: 159px 20px 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 20px 0;
}

.u-section-3 .u-image-4 {
  width: 83px;
  height: 19px;
  margin: 41px auto 0 20px;
}

.u-section-3 .u-group-1 {
  width: 926px;
  min-height: 294px;
  background-image: none;
  height: auto;
  margin: 24px 0 60px auto;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 20px;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  margin: 158px 177px 0 -57px;
}

.u-section-3 .u-image-5 {
  width: 312px;
  height: 30px;
  margin: 10px auto 0 180px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 821px;
  }

  .u-section-3 .u-image-1 {
    min-height: 656px;
  }

  .u-section-3 .u-image-2 {
    width: 552px;
    margin-bottom: 64px;
  }

  .u-section-3 .u-image-3 {
    min-height: 656px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-image-4 {
    width: 68px;
    margin-left: 16px;
  }

  .u-section-3 .u-text-3 {
    width: 886px;
    margin-top: 284px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-5 {
    margin-top: -166px;
    margin-left: 197px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 694px;
  }

  .u-section-3 .u-image-1 {
    min-height: 659px;
  }

  .u-section-3 .u-image-2 {
    width: 423px;
  }

  .u-section-3 .u-image-3 {
    min-height: 415px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 13px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 13px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 13px;
    margin-left: 0;
  }

  .u-section-3 .u-image-4 {
    width: 85px;
    height: 25px;
    margin-left: 0;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1812px;
  }

  .u-section-3 .u-image-1 {
    min-height: 754px;
  }

  .u-section-3 .u-image-2 {
    width: 397px;
    height: 606px;
  }

  .u-section-3 .u-image-3 {
    min-height: 1099px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 89px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 9px;
  }

  .u-section-3 .u-image-4 {
    width: 80px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-3 .u-text-3 {
    width: 540px;
    margin-top: 236px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1244px;
  }

  .u-section-3 .u-image-1 {
    min-height: 668px;
  }

  .u-section-3 .u-image-2 {
    width: 302px;
    height: 508px;
    margin-top: 60px;
    margin-bottom: 0;
  }

  .u-section-3 .u-image-3 {
    min-height: 692px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 6px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 115px;
    margin-right: 8px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 50px;
    margin-right: 8px;
  }

  .u-section-3 .u-image-4 {
    width: 67px;
    margin-top: 50px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    width: 340px;
    margin-top: 188px;
  }

  .u-section-3 .u-image-5 {
    margin-left: 18px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 10px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 308px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 236px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 177px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 111px;
  }
}.u-section-5 {
  background-image: url("images/57e1d4434d4fad0bffd8992cc62e377a153ddaed4e507748742f7cd79445c7_1280.jpg");
}

.u-section-5 .u-sheet-1 {
  min-height: 1112px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 159px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 292px;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-5 .u-text-1 {
  margin: 25px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 25px;
}

.u-section-5 .u-image-1 {
  min-height: 409px;
  background-image: url("images/2019-12-2304.42.141.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-image-2 {
  min-height: 379px;
  background-image: url("images/2019-12-1808.16.171.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 18px;
  padding-right: 18px;
}

.u-section-5 .u-image-3 {
  min-height: 322px;
  background-image: url("images/IMG_20190602_194303.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-layout-cell-5 {
  min-height: 322px;
}

.u-section-5 .u-container-layout-5 {
  padding-right: 9px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 216px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 20px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 241px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-5 .u-image-1 {
    min-height: 337px;
  }

  .u-section-5 .u-image-2 {
    min-height: 313px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-5 .u-image-3 {
    min-height: 266px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 266px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 9px;
    margin-bottom: 23px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-5 .u-text-2 {
    margin-bottom: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 516px;
  }

  .u-section-5 .u-image-2 {
    min-height: 479px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-5 .u-image-3 {
    min-height: 407px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 407px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-top: 26px;
    margin-bottom: 55px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-bottom: 25px;
  }

  .u-section-5 .u-image-1 {
    min-height: 387px;
  }

  .u-section-5 .u-image-2 {
    min-height: 359px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-5 .u-image-3 {
    min-height: 555px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 678px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-right: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-top: 159px;
    margin-bottom: 20px;
    position: relative;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-5 .u-image-1 {
    min-height: 244px;
  }

  .u-section-5 .u-image-2 {
    min-height: 226px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-5 .u-image-3 {
    min-height: 349px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 427px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-right: 9px;
  }
}.u-section-6 {
  background-image: url("images/57e1d4434d4fad0bffd8992cc62e377a153ddaed4e507748742f7cd79445c7_1280.jpg");
}

.u-section-6 .u-sheet-1 {
  min-height: 921px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 636px;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 32px;
}

.u-section-6 .u-text-1 {
  margin: 99px 8px 0 0;
}

.u-section-6 .u-image-1 {
  width: 234px;
  height: 37px;
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-2 {
  margin: 43px 170px 0 0;
}

.u-section-6 .u-image-2 {
  width: 83px;
  height: 19px;
  margin: 32px auto 65px 0;
}

.u-section-6 .u-image-3 {
  min-height: 636px;
  background-image: url("images/1D76145E-8DB9-4DF7-B293-13663D161AC9-7E0D8121-A644-4CD1-A926-578EFA9EF749.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  margin-bottom: 0;
}

.u-section-6 .u-image-4 {
  width: 274px;
  height: 274px;
  background-image: url("images/8F3B272C-4992-4525-B0CB-018721658103-00F5B415-8589-4AFC-8E33-47E54433A455.jpg");
  background-position: 50% 50%;
  margin: 194px auto 65px -132px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 647px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: -69px;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 26px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 7px;
    position: relative;
  }

  .u-section-6 .u-image-1 {
    width: 193px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 140px;
    position: relative;
  }

  .u-section-6 .u-image-2 {
    width: 68px;
  }

  .u-section-6 .u-image-4 {
    width: 226px;
    height: 226px;
    margin-left: -109px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 5px;
  }

  .u-section-6 .u-image-1 {
    width: 148px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 107px;
  }

  .u-section-6 .u-image-2 {
    width: 52px;
  }

  .u-section-6 .u-image-4 {
    width: 173px;
    height: 173px;
    margin-left: -83px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 15px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 4px;
  }

  .u-section-6 .u-image-1 {
    width: 139px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 80px;
  }

  .u-section-6 .u-image-2 {
    width: 85px;
    height: 25px;
  }

  .u-section-6 .u-image-4 {
    width: 226px;
    height: 226px;
    margin-top: -109px;
    margin-left: auto;
    margin-bottom: 519px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 675px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 70px;
    margin-right: 2px;
  }

  .u-section-6 .u-image-1 {
    width: 208px;
    height: 29px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 51px;
    margin-right: 51px;
  }

  .u-section-6 .u-image-4 {
    width: 136px;
    height: 136px;
    margin-top: -55px;
    margin-bottom: 555px;
  }
}.u-section-7 {
  background-image: url("images/57e1d4434d4fad0bffd8992cc62e377a153ddaed4e507748742f7cd79445c7_1280.jpg");
}

.u-section-7 .u-sheet-1 {
  min-height: 1403px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 28px;
  margin-bottom: 0;
}

.u-section-7 .u-image-1 {
  background-image: url("images/7B315346-9EB2-4D8A-81A3-AEC9B755D41E.jpg");
  min-height: 568px;
  background-position: 50% 50%;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 454px;
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 18px;
}

.u-section-7 .u-text-1 {
  font-size: 3.75rem;
  margin: 77px -268px 0 297px;
}

.u-section-7 .u-text-2 {
  margin: 28px 141px 0 180px;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 571px;
}

.u-section-7 .u-image-2 {
  width: 371px;
  height: 468px;
  margin-top: 73px;
  margin-right: auto;
  margin-left: 0;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 451px;
}

.u-section-7 .u-container-layout-4 {
  padding-left: 60px;
}

.u-section-7 .u-text-3 {
  width: 321px;
  margin: 0 auto;
}

.u-section-7 .u-image-3 {
  width: 210px;
  height: 48px;
  margin: 31px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 978px;
  }

  .u-section-7 .u-image-1 {
    min-height: 501px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 508px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 15px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 18px;
    margin-right: 23px;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-right: 265px;
    margin-left: 117px;
  }

  .u-section-7 .u-image-2 {
    width: 306px;
    margin-bottom: 55px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 458px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 49px;
  }

  .u-section-7 .u-text-3 {
    margin-top: -76px;
    margin-right: 14px;
    margin-left: 310px;
  }

  .u-section-7 .u-image-3 {
    width: 68px;
    margin-top: 42px;
    margin-bottom: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2562px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 11px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 18px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 203px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 626px;
  }

  .u-section-7 .u-image-2 {
    width: 456px;
    height: 541px;
    margin-top: 0;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 777px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 38px;
  }

  .u-section-7 .u-text-3 {
    margin-top: -54px;
    margin-right: 36px;
    margin-left: 200px;
  }

  .u-section-7 .u-image-3 {
    width: 85px;
    margin-top: 20px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1981px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 520px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 152px;
    margin-left: 23px;
  }

  .u-section-7 .u-image-2 {
    width: 450px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 583px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 28px;
  }

  .u-section-7 .u-text-3 {
    margin-top: -82px;
    margin-right: 28px;
    margin-left: 110px;
  }

  .u-section-7 .u-image-3 {
    width: 80px;
    margin-top: 48px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1335px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 615px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 5px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3rem;
    margin-top: 39px;
    margin-right: 8px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-right: 8px;
    margin-left: 0;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 738px;
  }

  .u-section-7 .u-image-2 {
    height: 609px;
    margin-bottom: 70px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 367px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 18px;
  }

  .u-section-7 .u-text-3 {
    margin-top: -15px;
    margin-right: 17px;
    margin-left: 10px;
  }

  .u-section-7 .u-image-3 {
    width: 67px;
    margin-top: 57px;
  }
}